body {
	font-family: 'Raleway', sans-serif;
	background-color: #4D4D4D;
	width: 100%;
	margin: 0 ;/* some browsers automatically add a margin to page body*/
}



/****** Lightbox for Image and Caption *********/
.lightbox {
	background-color: white;
	display: inline-block;
	width: 60%;
    margin: 1em 5%;
	box-shadow: 0px 0px 60px black;
	overflow: hidden

}

/****** Div for Image *********/
.display-box {
	float: left;
	width: 60%;
	margin: 1% 1%
}

/****** Div for Caption *********/
.caption-box {
	height: 10em;
	width: 30%;
	float: left;
	margin: 3%;
	word-wrap: break-word
}

.title {
	color:white;
	font-family: 'Lobster', sans-serif;
	margin: 0 auto;
	text-align: center;
	font-size: 5em;
	text-shadow: 2px 2px pink
}

.sub-title {
	color:white;
	font-family: 'Lobster', sans-serif;
	margin: 0 auto;
	text-align: center;
	font-size: 2em;
}


/****** P for Caption *********/
.caption {
	float: right
}

/******Prev and Next arrows *********/
.arrow {
	display: inline;
	height: 3em
}

.prev-arrow {
	float: left;
	margin: 20% 0 0 10%
}

.next-arrow {
	float: right;
	margin: 20% 10% 0 0
}