body {
	font-family: 'Lobster', cursive;
	background-color: #4D4D4D;
	width: 100%;
	margin: 0;/* some browsers automatically add a margin to page body*/
}




.box {
	background-color: white;
	display: inline-block;
	width: 50%;
    margin: 1em 5%;
	height: 30em;
	box-shadow: 0px 0px 50px black;
	overflow: hidden

}

.image {
	float: left;
	width: 75%;
}

.title {
	color:white;
	margin: 0 auto;
	text-align: center;
	font-size: 5em;
	text-shadow: 2px 2px pink;
}

.caption {
	width: 25%;
	float: right;
}

.arrow {
	display: inline;
}

.left-arrow {
	float: left;
	margin: 20% 0 0 15%;
}

.right-arrow {
	float: right;
	margin: 20% 15% 0 0;
}