body {
	font-family: 'Raleway', sans-serif;
	background-color: #4D4D4D;
	width: 100%;
	margin: 0 ;/* some browsers automatically add a margin to page body*/
}



/****** Lightbox for Image and Caption *********/
.lightbox {
	background-color: white;
	display: inline-block;
	width: 50%;
    margin: 1em 0;
	height: 30em;
	box-shadow: 0px 0px 60px black;
	overflow: hidden

}

/****** Div for Image *********/
.display-box {
	float: left;
	width: 60%;
	margin: 8% 0
}

/****** Div for Caption *********/
.caption-box {
	height: 10em;
	width: 25%;
	float: left;
	margin: 2em 1em
}

.title {
	color:white;
	font-family: 'Lobster', sans-serif;
	margin: 0 auto;
	text-align: center;
	font-size: 5em;
	text-shadow: 2px 2px pink
}

/****** P for Caption *********/
.caption {
	float: right
}

/******Prev and Next arrows *********/
.arrow {
	display: inline
}

.prev-arrow {
	float: left;
	margin: 20% 5% 0 15%
}

.next-arrow {
	float: right;
	margin: 20% 15% 0 0
}