<!DOCTYPE html>
<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link type="text/css" rel="stylesheet" href="/static/style.css">
</head>
<body>

	{% for felinePhoto in tagged %}
	<input type="hidden" name="{{felinePhoto.images['low_resolution'].url}}" class="image-data" value="{{felinePhoto.caption.text}}">
	{% endfor %}

	<h1 class="title">Crazy Cat Lady</h1>
	<h3 class="sub-title">(just pictures of cats)</h3>

	<div class="window">
		<img class="arrow prev-arrow" src="/static/left-arrow.png">

		<div class="lightbox" style="z-index: 3;">
			<img class="display-box">
			<p class="caption-box"></p>
		</div>

		<img class="arrow next-arrow" height='50em' src="/static/right-arrow.png">
	</div>

	<script type="text/javascript" src="/static/script.js"></script>

</body>
</html>