<!DOCTYPE html>
<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link type="text/css" rel="stylesheet" href="/static/style.css">
</head>
<body>
{% for imgData in tagged %}
	<input type="hidden" name="{{imgData.images['low_resolution'].url}}" class="image-data" value="{{imgData.caption.text}}">
{% endfor %}

	<h1 class="title">Crazy Cat Lady</h1>
	<div class="window">
		<img class="arrow left-arrow" height='50em' src="/static/left-arrow.png">

			<div class="box slideshow" style="z-index: 3;">
		<!-- 		{% for imgData in tagged %}
				<div class="image">
					<a href="{{imgData.link}}">
						<img class="image" src="{{imgData.images['low_resolution'].url}}" alt="{{imgData.caption.text}}">
					</a>
		
				</div>
				<div class="caption"><p>{{imgData.caption.text}}</p></div>
				{% endfor %} -->

			</div>

		<img class="arrow right-arrow" height='50em' src="/static/right-arrow.png">
	</div>

	<script type="text/javascript" src="/static/script.js"></script>
</body>
</html>